.allWin-page
    .banner
        .container
            .banner__wrapp
                .banner__title
                    .banner__title-top CASHBACK FOR ACTIVE GAME
                    .banner__title-bottom UP TO 10% #[span *]
                a.banner__btn.btn(href="/personal-office/balance/deposit/") DEPOSIT
            .banner__img
                picture
                    source(media="(max-width: 600px)" srcset="img/banner-bg-mob.jpg")
                    source(media="(max-width: 1050px)" srcset="img/banner-bg-tab.jpg")
                    img(src="img/banner-bg-desc.jpg" alt="all win")
            .banner__info *The total prize fund of the “Cashback for Active Play” promotion, as well as the size and type of the Bonus offer, are determined solely at the discretion of the Organizer. The promotion is valid from 00:00 on 10.12.2025 until 23:59 on 31.01.2026. Details are available on allwinua.com. The bonus is available only to registered players.
    ._wrapper
        ._wrapper__left
            ._wrapper__topTitle HOW TO TAKE PART?
            section.section
                .section__title Taking part:
                .section__txt Top up your gaming balance during the promotional week, place bets in the “Sports”, “Live”, “Esports” sections, and play your favorite games in the “Slots”, “Live Games”, and “Crash Games” categories.
            section.section
                .section__title Mechanics:
                .section__txt To receive the bonus, the following Participant indicators are taken into account: the total amount of all deposits made within one calendar week minus (the sum of withdrawals + the amount on the Main Balance* + the amount of unsettled bets), multiplied by the personal bonus percentage of 5%, 7% or 10%. #[br] *The balance is recorded every Sunday of each promotional week at 23:59 Kyiv time.
            section.section
                .section__title Example:
                .section__txt (5000 ₴ – (1000 ₴ + 1500 ₴ + 500 ₴)) * personal bonus % = 2000 * 5% = 100 ₴.
                .section__txt The bonus is credited only if the calculated result according to the above formula is positive. If the result is negative or less than 1000 ₴, the Participant does not receive the Bonus. #[br] Personal bonus calculation:
                .section__table-wrap
                    .section__table.table
                        .table__head
                            .table__head-col Results of the week
                            .table__head-col % of cashback
                            .table__head-col Type of payouts
                            .table__head-col Wager
                        .table__body
                            .table__row
                                .table__body-col 1 000 ₴ – 2 499.99 ₴
                                .table__body-col 5%
                                .table__body-col bonus
                                .table__body-col x7
                            .table__row
                                .table__body-col 2 500 ₴ – 9 999.99 ₴
                                .table__body-col 7%
                                .table__body-col bonus
                                .table__body-col x5
                            .table__row
                                .table__body-col 10 000 ₴ – 49 999.99 ₴
                                .table__body-col 7%
                                .table__body-col bonus
                                .table__body-col x3
                            .table__row
                                .table__body-col 50 000 ₴ – 99 999.99 ₴
                                .table__body-col 10%
                                .table__body-col bonus
                                .table__body-col x3
                            .table__row
                                .table__body-col 100 000 ₴ – 299 999.99 ₴
                                .table__body-col 10%
                                .table__body-col bonus
                                .table__body-col x1
                            .table__row
                                .table__body-col from 300 000 ₴
                                .table__body-col 10%
                                .table__body-col bonus
                                .table__body-col x0
            section.section
                .section__title About the Bonus:
                .section__txt Wagering must be completed within 72 hours. #[br] The maximum possible bonus for a participant is 100 000 ₴. #[br] Bonus crediting is held every Monday from 00:00 to 23:59 Kyiv time.
        ._wrapper__right
            .info
                .info__title “CASHBACK FOR ACTIVE GAME” PROMOTION
                .info__txt The “CASHBACK FOR ACTIVE PLAY” promotion runs from 10 December 2025 to 31 January 2026 and offers a personal bonus of up to 10% for the previous week.
                a.info__btn.btn(href="/personal-office/balance/deposit/") DEPOSIT
    a.bottom__btn.btn(href="/personal-office/balance/deposit/") DEPOSIT
    section.conditionsDrop
        .container
            .conditionsDrop__drop
                details.dropdown
                    summary TERMS AND CONDITIONS:
                    .drop-txt(data-translate="rules")
                        p OFFICIAL RULES FOR PARTICIPATION IN THE PROMOTION “CASHBACK FOR ACTIVE GAME”
                        p 1. The Organizer and Executor of the promotion “CASHBACK FOR ACTIVE GAME” (hereinafter – the Promotion) is ALLWIN (hereinafter – the Organizer).
                        p 2. The organization and conduct of the Promotion are regulated by these rules (hereinafter – the Rules), the official text of which is published on the website allwinua.com in the “Promotions” section.
                        p 3. The purpose of the Promotion is to promote the Organizer’s gambling trademark.
                        p 4. By agreeing to these Rules, the Participant confirms that they are familiar with the Organizer’s rules, the Loyalty Program, and also understands that they must follow the principles of responsible gaming, which are available on the website allwinua.com.
                        p 5. The Promotion is held throughout the territory of Ukraine, except for the Autonomous Republic of Crimea and temporarily occupied territories of Ukraine.
                        p 6. The Promotion is held on the website allwinua.com.
                        p 7. The promotion is held from 10.12.2025 to 31.01.2026 Kyiv time.
                        p 8. Procedure for participation in the “CASHBACK FOR ACTIVE GAME” promotion (hereinafter – the Promotion):
                        p 9. Procedure for Participation in the Promotion:
                        p.retreat1 9.1. To participate in the Promotion, the Participant must: during each calendar week (from 00:01 Monday to 23:59 Sunday, Kyiv time) within the overall Promotion period, top up their gaming balance (make deposits) and place bets in the following sections: “Sports”, “Live”, “Esports”, “Slots”, “Live Games”, and “Crash Games”.
                        p.retreat1 9.2. Upon fulfilling the conditions specified in P.9.1, each Participant becomes eligible to receive a bonus of 5%, 7%, or 10% according to the following formula: #[br] Mechanics: To receive the bonus, the following Participant indicators are taken into account: the total amount of all deposits made within one calendar week (sum of withdrawals + amount on the Main Balance* + amount of unsettled bets), multiplied by the personal bonus percentage of 5%, 7% or 10%. #[br]*The balance is recorded every Sunday of the promotional week at 23:59 Kyiv time. #[br]Example: (5000 ₴ – (1000 ₴ + 1500 ₴ + 500 ₴)) * personal bonus % = 2000 * 5% = 100 ₴.
                        p.retreat2 9.2.1.The bonus is credited only if the calculated result based on the formula in P.9.2 is positive. If the result is negative or less than 1000 ₴, the Participant does not receive the Bonus Offer.
                        p.retreat2 9.2.2.The Bonus Offer is credited every calendar Monday within the overall Promotion period, from 00:00 to 23:59 Kyiv time. The calculation of the personal Bonus is determined by the Organizer as follows:
                        .retreat2
                            table
                                thead
                                    tr
                                        th Results of the week
                                        th % of cashback
                                        th Type of payouts
                                        th Wager
                                tbody
                                    tr
                                        td 1 000 ₴ – 2 499.99 ₴
                                        td 5%
                                        td bonus
                                        td x7
                                    tr
                                        td 2 500 ₴ – 9 999.99 ₴
                                        td 7%
                                        td bonus
                                        td x5
                                    tr
                                        td 10 000 ₴ – 49 999.99 ₴
                                        td 7%
                                        td bonus
                                        td x3
                                    tr
                                        td 50 000 ₴ – 99 999.99 ₴
                                        td 10%
                                        td bonus
                                        td x3
                                    tr
                                        td 100 000 ₴ – 299 999.99 ₴
                                        td 10%
                                        td bonus
                                        td x1
                                    tr
                                        td from 300 000 ₴
                                        td 10%
                                        td bonus
                                        td x0
                        p.retreat1 9.3. Once the Organizer credits the bonus offer, the Participant must activate the available bonus in their personal account by pressing the “Start” button, after which the bonus funds will be transferred to the Participant’s Bonus Balance of their gaming account.
                        p.retreat1 9.4. To proceed with the transfer of funds to the Withdrawable Balance, the Participant must place bets in the “Sports”, “Live”, “Esports” sections and in the “Wager Slots” category of the “Slots” section for an amount X times greater than the amount of the potential bonus (according to the table in P.9.2.2).
                        p.retreat1 9.5. After pressing the “Start” button, all bets placed by the Participant in the sections in accordance with P.9.4 of these Rules and following the requirements of P.9.7 will be counted towards wagering the bonus offer.
                        p.retreat1 9.6. The bonus offer will be available for wagering for 5 (five) days from the moment of its activation (no more than 120 hours).
                        p.retreat2 9.6.1. Wagering the received bonus is performed using funds from the Main Balance, which are available for withdrawal. However, if during wagering the Withdrawable Balance reaches 0 ₴ – wagering continues using the funds from the Bonus Balance.
                        p.retreat1 9.7. Bet requirements:
                        p.retreat2 1) Minimum bet amount for wagering – not required;
                        p.retreat2 2) Maximum bet amount – 1000 ₴;
                        p.retreat2 3) Wagering takes place in the “Sports”, “Live”, “Cybersport” sections and in the “Wager Slots” of the “Slots” section.
                        p.retreat1 9.8. The maximum possible bonus amount for each participant is 100 000 ₴.
                        p.retreat1 9.9. The bonus offer “Cashback for Active Game” may be available only to those who have personally received the corresponding invitation to participate in the Promotion through one of the available communication channels, including but not limited to: receiving an email from the Organizer, a message in My account, etc. #[br] The notification regarding receiving the Bonus Offer “Cashback for Active Game” may be sent by the Organizer each new calendar week during the Promotion and will be available only within that calendar week.
                        p 10. If all conditions established by these Rules are met, the bonus will be credited to the Participant’s personal account and made available for withdrawal.
                        p.retreat1 10.1. The maximum amount of funds that may be available for withdrawal by the Participant after wagering the bonus offer is x1 of the received bonus amount.
                        p.retreat1 10.2. If, during the wagering of an active bonus, the Participant submits a withdrawal request from the Withdrawable Balance, such an active bonus will be cancelled, and the funds that were credited to the Bonus Balance (from the active bonus) will be annulled.
                        p 11. These Rules may be amended/complemented by the Organizer throughout the Promotion period; notifications regarding changes and additions will be provided by publishing the updated version of the Rules on the website. Such changes and additions come into effect upon publication, unless otherwise provided by the current version of the official Rules.
                        p.retreat1 11.1. In case of technical failures and/or other unforeseen actions that make it impossible to conduct the Promotion, the Organizer reserves the right to suspend or cancel the Promotion without paying any additional compensation to participants.
                        p.retreat1 11.2. The Organizer has the right, at its sole discretion, to refuse the bonus to any Participant or group of Participants.

